/*
 * Variables.
 */
// Default grid, change to fit your requirements.
@columnWidth:   30;
@gutterWidth:   10;
@columns:       24;
@gridType:      "float"; // "flex"

@fontSizeBody: 16px;


* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;    
    font-size: 100%;
}

body {
    // Activate the grid base font.
    #desinax-hgrid.font(@fontSizeBody);        
}

// Activate grid and affect all typographic elements.
#desinax-hgrid.activateDefaultTypography();

// Grid wrapper: The grid contains a utility mixin that can set the max width on a row wrapper. 
.inner-wrap {
    #desinax-vgrid.grid(1100px);
}

// Show the vertical grid.
.vgrid .inner-wrap {
    @gridImageVgrid: "../../theme/src/@desinax/vertical-grid/img/grid_24x30x10-nomargin.png";
    //@gridImageVgrid: "... grid_12x60x20-nomargin.png";
    #desinax-vgrid.showGrid(@gridImageVgrid, 1100px);
    
    &.inner-wrap-header,
    &.inner-wrap-footer {
        #desinax-vgrid.showGrid(@gridImageVgrid);
    }
}

// Show the horizontal grid.
.hgrid .inner-wrap {
    @gridImageHgrid: "../../theme/src/@desinax/typographic-grid/img/magic-number-@{magicNumber}.png";
    // @gridImageHgrid: "... magic-number-22px.png";
    #desinax-hgrid.showGrid(@gridImageHgrid);
}

hr::after {
    display: none;
}

img {
    max-width: 100%;
}

a,
a:visited {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}
